* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}
.clock {
  background: url(clock.png) no-repeat;
  background-size: 100%;
  /* height: 440px;
  width: 440px; */
  height: 40vw;
  width: 40vw;
  /* border: 1px solid red; */
  position: relative;
}
.hour,
.minute,
.second {
  position: absolute;
  background: black;
  border-radius: 10px;
  transform-origin: bottom;
}

.hour {
  height: 27%;
  width: 2%;
  top: 23%;
  left: 48.72%;
  /* display: none; */
}
.minute {
  height: 33%;
  width: 1.5%;
  top: 16.8%;
  left: 48.9%;
  /* display: none; */
}
.second {
  height: 36%;
  width: 1%;
  top: 13.5%;
  left: 49.25%;
  /* display: none; */
}
